In [33]:
import pandas as pd

In [34]:
# data is from https://data.mendeley.com/datasets/wm6w2fvkfj/1
df = pd.read_csv('medical-appointments-no-show-en.csv',index_col=None)
df.head()

,specialty,appointment_time,gender,appointment_date,no_show,no_show_reason,disability,date_of_birth,entry_service_date,city,...,over_60_years_old,patient_needs_companion,average_temp_day,average_rain_day,max_temp_day,max_rain_day,rainy_day_before,storm_day_before,rain_intensity,heat_intensity
0,physiotherapy,13:20,M,09/09/2021,yes,surto,NaN,NaN,NaN,NaN,...,0,0,20.75,0.01,23.7,0.2,1,1,no_rain,mild
1,psychotherapy,13:20,M,09/09/2021,no,NaN,NaN,NaN,NaN,NaN,...,0,0,20.75,0.01,23.7,0.2,1,1,no_rain,mild
2,speech therapy,13:20,F,09/09/2021,no,NaN,NaN,NaN,NaN,NaN,...,0,0,20.75,0.01,23.7,0.2,1,1,no_rain,mild
3,physiotherapy,13:20,F,09/09/2021,no,NaN,NaN,NaN,NaN,NaN,...,0,0,20.75,0.01,23.7,0.2,1,1,no_rain,mild
4,physiotherapy,14:00,M,09/09/2021,no,NaN,motor,10/10/1954,5/2/2020,B. CAMBORIU,...,1,1,20.75,0.01,23.7,0.2,1,1,no_rain,mild

In [35]:
df.shape

(49593, 26)

In [36]:
df.isna().sum()

specialty                   7454
appointment_time               0
gender                         0
appointment_date               0
no_show                        0
no_show_reason             47856
disability                  5137
date_of_birth              10321
entry_service_date          5155
city                        5181
icd                        38876
appointment_month              0
appointment_year               0
appointment_shift              0
age                        10350
under_12_years_old             0
over_60_years_old              0
patient_needs_companion        0
average_temp_day            1016
average_rain_day            1016
max_temp_day                1016
max_rain_day                1016
rainy_day_before               0
storm_day_before               0
rain_intensity                 0
heat_intensity                 0
dtype: int64

In [37]:
df = df.drop(columns= 'no_show_reason')

In [38]:
df = df.dropna(subset = ['specialty','disability','date_of_birth','entry_service_date','city']).reset_index(drop= True)

In [39]:
df['has_icd'] = pd.notna(df['icd'])

In [40]:
df['has_icd'].value_counts()

False    26681
True      8043
Name: has_icd, dtype: int64

In [41]:
# df.isna().sum()

df = df.drop('icd',axis=1)

In [42]:
# df.isna().sum()
df = df.dropna(subset=['average_temp_day','age','average_rain_day','max_temp_day',
                       'max_rain_day'],axis=0).reset_index(drop = True)

In [43]:
df.tail()

,specialty,appointment_time,gender,appointment_date,no_show,disability,date_of_birth,entry_service_date,city,appointment_month,...,patient_needs_companion,average_temp_day,average_rain_day,max_temp_day,max_rain_day,rainy_day_before,storm_day_before,rain_intensity,heat_intensity,has_icd
34602,occupational therapy,17:00,M,01/03/2021,no,motor,29/6/1999,28/9/2020,ITAJAÍ,mar,...,0,22.55,4.22,24.6,32.8,1,1,heavy,mild,True
34603,speech therapy,17:00,F,01/03/2021,no,motor,15/7/1954,14/8/2019,ITAJAÍ,mar,...,1,22.55,4.22,24.6,32.8,1,1,heavy,mild,False
34604,physiotherapy,17:40,F,01/03/2021,no,motor,15/7/1954,14/8/2019,ITAJAÍ,mar,...,1,22.55,4.22,24.6,32.8,1,1,heavy,mild,False
34605,occupational therapy,17:40,F,01/03/2021,no,intellectual,11/7/2017,19/8/2019,BALN. PIÇARRAS,mar,...,1,22.55,4.22,24.6,32.8,1,1,heavy,mild,False
34606,psychotherapy,17:40,M,01/03/2021,no,motor,29/6/1999,28/9/2020,ITAJAÍ,mar,...,0,22.55,4.22,24.6,32.8,1,1,heavy,mild,True

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34607 entries, 0 to 34606
Data columns (total 25 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   specialty                34607 non-null  object
 1   appointment_time         34607 non-null  object
 2   gender                   34607 non-null  object
 3   appointment_date         34607 non-null  datetime64[ns]
 4   no_show                  34607 non-null  object
 5   disability               34607 non-null  object
 6   date_of_birth            34607 non-null  datetime64[ns]
 7   entry_service_date       34607 non-null  object
 8   city                     34607 non-null  object
 9   appointment_month        34607 non-null  object
 10  appointment_year         34607 non-null  int64
 11  appointment_shift        34607 non-null  object
 12  age                      34607 non-null  int32
 13  under_12_years_old       34607 non-null  int64
 14  over_60_years_old        34607 non-null  int64
 15  patient_needs_companion  34607 non-null  int64
 16  average_temp_day         34607 non-null  float64
 17  average_rain_day         34607 non-null  float64
 18  max_temp_day             34607 non-null  float64
 19  max_rain_day             34607 non-null  float64
 20  rainy_day_before         34607 non-null  int64
 21  storm_day_before         34607 non-null  int64
 22  rain_intensity           34607 non-null  object
 23  heat_intensity           34607 non-null  object
 24  has_icd                  34607 non-null  bool
dtypes: bool(1), datetime64[ns](2), float64(4), int32(1), int64(6), object(11)
memory usage: 6.2+ MB

In [49]:
df['appointment_date'] = pd.to_datetime(df['appointment_date'],format='%d/%m/%Y')
df['date_of_birth'] = pd.to_datetime(df['date_of_birth'],format='%d/%m/%Y')
df['age'] = df['age'].astype(int)

In [ ]:
# df['date_of_birth']
# df.duplicated().sum()
df = df.drop_duplicates()

0

In [ ]:
df.columns

Index(['specialty', 'appointment_time', 'gender', 'appointment_date',
       'no_show', 'disability', 'date_of_birth', 'entry_service_date', 'city',
       'appointment_month', 'appointment_year', 'appointment_shift', 'age',
       'under_12_years_old', 'over_60_years_old', 'patient_needs_companion',
       'average_temp_day', 'average_rain_day', 'max_temp_day', 'max_rain_day',
       'rainy_day_before', 'storm_day_before', 'rain_intensity',
       'heat_intensity', 'has_icd'],
      dtype='object')

In [63]:
cat_cols = df.select_dtypes(include = ['object']).columns
cat_cols
num_cols = df.select_dtypes(include = ['float','int','bool']).columns
num_cols
date_cols = df.select_dtypes(include = ['datetime']).columns
len(cat_cols)+len(num_cols)
date_cols

Index(['appointment_date', 'date_of_birth'], dtype='object')

In [ ]:
for cols in cat_cols:
  print(f'{cols}: {df[cols].nunique()}')

specialty: 8
appointment_time: 69
gender: 3
no_show: 2
disability: 2
entry_service_date: 309
city: 11
appointment_month: 12
appointment_shift: 2
rain_intensity: 4
heat_intensity: 5

In [70]:
for cols in num_cols:
  print(f'{cols}: {df[cols].nunique()}')

appointment_year: 6
age: 87
under_12_years_old: 2
over_60_years_old: 2
patient_needs_companion: 2
average_temp_day: 658
average_rain_day: 128
max_temp_day: 183
max_rain_day: 81
rainy_day_before: 1
storm_day_before: 1
has_icd: 2

In [ ]:
# df['rainy_day_before'].value_counts()
# df['storm_day_before'].value_counts()

df = df.drop(columns = ['rainy_day_before','storm_day_before'])

In [79]:
df.to_csv('cleaned_dataset.csv')